<footer class="footer clearfix">
	<div class="container">
    <div class="one-third column">
      <h4>聯絡方式</h4>
      <p>email:<%= mail_to "nckuga102@gamil.com", "nckuga102@gamil.com", :subject => "成功大學102畢聯會" %></p>
      <p>國立成功大學 軍訓室 (06)2757575-50715</p>
    </div>
    <div class="one-third column">
      <p>email:nckuga102@gamil.com</p>
    </div>
    <div class="one-third column">
      <div class="fb-like-box" data-href="https://www.facebook.com/ncku.graduation" data-width="292" data-height="300" data-show-faces="true" data-stream="false" data-header="true"></div>
    </div>
	</div>
</footer>