<nav class="clearfix nav">  
    <ul class="clearfix" id="top-menu">
        <li><a href="#ceremony">畢業典禮資訊</a></li>
        <li><a href="#attention">注意事項</a></li>    
        <li><a href="#traffic">交通資訊</a></li>  
        <li><a href="#living">住宿資訊</a></li>  
        <li><a href="#question">問題Q&A</a></li>  
        <li><a href="/special">畢業特輯</a></li>    
        <!-- <li><a href=""> ss </a> </li> -->
    </ul>  
    <a href="#" id="pull">Menu</a>  
</nav> 