<%= image_tag("header.png", :id => "bg" )%>
<div id="header">
	<div class="container">
		<div class="inner-header sixteen columns fixed">
			<h1>畢業倒數</h1>
			<div id="countdown"></div>
		</div>
	</div>
</div>
<nav class="clearfix">  
    <ul class="clearfix">  
        <li><a href="#">a</a></li>  
        <li><a href="#">b</a></li>  
        <li><a href="#">c</a></li>  
        <li><a href="#">d</a></li>  
        <li><a href="#">e</a></li>  
        <li><a href="#">f</a></li>    
    </ul>  
    <a href="#" id="pull">Menu</a>  
</nav> 

<section>
	<div class="container">
		<div class="sixteen columns">
			<h1>Constructing</h1>
			<hr />
			<% (1..200).each do |i| %>
				<%= image_tag("constructing.gif")%>
			<% end %>
		</div>
	</div><!-- container -->
</section>
