// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
	scrollbar
*/
::-webkit-scrollbar {
	width: 5px;
	background: #2a2e3a;
}
::-webkit-scrollbar-thumb {
	background: #05b9dc;
}

/*
	header background
*/
#bg { 
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index:-1;
}
.bgwidth { 
	width: 100%; 
}
.bgheight { 
	height: 100%; 
}

/*
	color
*/

$redcolor: #F06060 ;
$pinkcolor: #FA987D ;
$basecolor : #F7F2CB;
$greencolor: #72CCA7;
$bluecolor: #10A296;

body > section, footer {
	margin: 0;
	position: relative;
	width: 100%;
	color:$bluecolor;
}
section{
	background:$basecolor;
	// opacity:0.9;
	padding-top:10px;
}
footer {
	background:$bluecolor;
}

footer {
	p,a,h1,h2,h3,h4,h5,h6{
		color:$basecolor;	
	}
}

.fixed {
	position:fixed;
}
.full {
	width:100%;
}

#header{
	height:100%;
	z-index:0;
}
.demo{
	text-align: center;
}
.demo .arrow {
	font-size: 20px;
}
.arrow {
	position: relative;
	display: inline-block;
}

#countdown{
	color:#fff;
  font-size: 60px;
	text-shadow: 2px 2px 0px #000;
	margin-top:-60px;
	display:block;
	position:absolute;
	left:5%;
	bottom:10%;
}
.arrow{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0%;
	left:50%;
	background-color:#333333;
	background-image:url('arrow.png');
}
.arrow:hover{
	background-color:#494949;
	cursor:pointer;
}
.clearfix:before,  
.clearfix:after {  
		content: " ";  
		display: table;  
}  
.clearfix:after {  
		clear: both;  
}  
.clearfix {  
		*zoom: 1;  
}  

nav {  
	height: 40px;  
	width: 100%;  
	background: $redcolor;
	font-size: 11pt;  
	font-family: 'PT Sans', Arial, sans-serif;  
	font-weight: bold;  
	border-bottom: 2px solid darken($redcolor, 10%);
	z-index:10;
}  
nav ul {  
	padding: 0;  
	margin: 0 auto;  
	width: 600px;  
	height: 40px;  
}  
nav li {  
	display: inline;  
	float: left;  
}

#top-menu a {
  display: block;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
  border-top: 3px solid darken($redcolor, 10%);
  text-decoration: none;
}
#top-menu li.active a:hover{  
	border-top: 3px solid white;
}
#top-menu li.active a{  
	border-top: 3px solid white;
}
nav a {
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #fff;
}

nav li a {  
	box-sizing:border-box;  
	-moz-box-sizing:border-box;  
	-webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
	border-right: 0; 
}

nav a:hover, nav a:active{  
	color: $bluecolor;
}
nav a:visited{
	color:#fff;
}
nav a#pull {  
	display: none;  
	background-color: darken($redcolor,10%);
}

#author{
	font-size:12px;
	height:20px;
}
#lyric{
	font-size:12px;
}