// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-scrollbar {
	width: 5px;
	background: #2a2e3a;
}
::-webkit-scrollbar-thumb {
	background: #05b9dc;
}